$soft-purple: #91B3FF;
$gray-blue:   #84BDE8;
$baby-blue:   #9EEFFF;
$mint:        #84E8DE;
$seafoam:     #91FFD5;
$main-gray:   #E7EFFF;
$deep-gray:   #C8DBE8;

$background: $main-gray;

section {
  background-color: $background;
}

